[submodule "readest"]
	path = readest
	url = https://github.com/hehetoshang/readest.git
[submodule "tauri"]
	path = tauri
	url = https://github.com/hehetoshang/tauri.git
	branch = dev
[submodule "packages/foliate-js"]
	path = packages/foliate-js
	url = https://github.com/hehetoshang/foliate-js
[submodule "packages/simplecc-wasm"]
	path = packages/simplecc-wasm
	url = https://github.com/readest/simplecc-wasm.git
[submodule "packages/tauri"]
	path = packages/tauri
	url = https://github.com/readest/tauri.git
[submodule "packages/tauri-plugins"]
	path = packages/tauri-plugins
	url = https://github.com/readest/tauri-plugins-workspace.git
[submodule "packages/js-mdict"]
	path = packages/js-mdict
	url = https://github.com/readest/js-mdict.git
